.super-mario {
  position: absolute;
  width: 200px;
  top: 70px;
  left: 80px;
  
}

.goomba {
  position: absolute;
  width: 100px;
  top: 390px;
  left: 130px;
  
}

.baloon {
  position: absolute;
  z-index: 1;
  top: 80px;
  width: 230px;
  left: 400px;
}

.speach {
  font-size: 20px;
  position: absolute;
  z-index: 2;
  top: 110px;
  left: 410px;
}

.bowser {
  position: absolute;
  width: 270px;
  left: 600px;
  top: 110px;
}