    div:hover {
    border-width: px;
    border-color: teal;
    border-style: solid;
}
    
    .cor-primaria {
      color: violet;
      
    }

    .cor-secundaria {
      color: yellow;
    }

    .cor-complementar {
      font-size: x-large;
      color: rgb(255, 0, 0);
    }

    .cor-escura {
      color: rgb(44, 14, 14);
    }

    .cor-clara {
      color: cadetblue;
    }

    .cor-clara, .cor-complementar, .cor-primaria{
      text-shadow: darkslategrey;
      font-family: cursive;
      font-style: italic;
    }
    
